.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  height: 3.5em;
  border: none;
  outline: none;
  font-weight: 100;
  border-radius: 0.8em;
  width: 100%;
  margin: 1em auto;
  background-color: #00bfff;
}

button:hover {
  background-color: #1e90ff;
  cursor: pointer;
}
